p{
	text-decoration: underline;
	color: red;
}
ul li{
	display: inline;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: darked;
}
ol li:first-child{
	color: blue;
}

h1,h2,h3{
	color: green;
}
h2{
	border-bottom: 6px solid black;
	margin-top: 20px;
}