.container{
	max-width: 1000px;
}
.box{
	border: 1px red dotted;
}
.profile {
}
.img-circle{
	max-width: 150px;
	height: auto;
}
.profile aside ul li img{
	max-width: 30px;
	height: auto;
}
.profile aside ul li{
	float:left;
	margin-right: 3px;
}
.profile aside ul{
	list-style: none;
	padding: 0;
}
.logo{
	max-width: 100px;
	height: auto;
}
h4{
	font-weight: bold;
}

@media (max-width: 992px){
	.profile-image{
		float:left;
	}
	.profile-content{
		float:left;
	}
}
@media (min-width: 485px) and (max-width: 992px){
	.profile-image{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.profile-content{
		display: table;
		margin:auto;
	}
}
